<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>List of Accounts</title>
</head>
<body>
<tbody>
<div th:each="a, aStat : ${accountList}" th:with="whichAccount=${aStat.index}">
  <div th:text="'Accountholder: ' + ${a.name}" th:style="${a.isKing()} ? 'color: orange; fontstyle: orange'"/>
  <div th:text="'Balance: ' + ${#numbers.formatDecimal(a.balance,0,2)} + ' Zebras'"/>
  <div th:text="'Type: ' + ${a.animalType}"/>
  <div th:text="'IDnumber: ' + ${whichAccount}"/>
  <div th:switch="${a.isGoodGuy()}">
    <div th:case="true" th:text="'Good guy'"/>
    <div th:case="false" th:text="'Bad guy'"/>
  </div>
  <div>
    <form action="/showMeTheZebras">
      <input type="hidden" name="index" th:value="${whichAccount}"/>
      <input type="submit" value="add 10 Zebras" th:style="'color: yellow; background-color: black'"/>
  </form>
  </div>
  <br/>
</div>
</tbody>
</body>
</html>