<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Todo List</title>
</head>
<body>
  <table style="undefined;table-layout: fixed; width: 793px">
    <tr>
      <th> ID </th>
      <th> ACTION </th>
      <th> DONE </th>
      <th> URGENT </th>
    </tr>
    <tr data-th-each="todo : ${todos}">
      <td data-th-text="${todo.ID}"/>
      <td data-th-text="${todo.title}"/>
      <td th:if="${todo.isDone} == false" th:text="|notdone|"/>
      <td th:if="${todo.isDone} == true" th:text="|done|"/>
      <td th:if="${todo.isUrgent} == false" th:text="|noturgent|"/>
      <td th:if="${todo.isUrgent} == true" th:text="|urgent|"/>
    </tr>
  </table>
</body>
</html>