<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8"/>
      <title>giflib | Home</title>
    </head>
    <body>
      <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga maxime minima unde voluptate!
          Natus, placeat quis? Accusamus animi atque consequuntur deleniti earum iure nemo, nobis omnis,
          quasi repudiandae, soluta vel?</p>
        <img> src="http://placehold.it/300x300/5fcf80/ffffff" alt="logo"/>
    </body>
  </html>