<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Welcome to Fox Club</title>
</head>
<body>
<p><a th:href="@{/info}" th:text="'Information'"></a></p>
<img th:src="@{/greenfox.png}"/>
    <p th:text="'This is Mr Fox. Currently living on Fox and lemonade. He knows 2 tricks'"></p>
    <h2 th:text="'Known tricks'"></h2>
  <ul>
    <li th:text="'write HTML'"></li>
    <li th:text="'code in Java'"></li>
  </ul>
  </body>
</html>