<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Welcome to Fox Club</title>
</head>
<body>
  <ul>
    <li><a th:href="@{/info}" th:text="'Information'"></a></li>
    <li><a th:href="@{/nutritionStore}" th:text="'Nutrition Store'"></a></li>
    <li><a th:href="@{/tricks}" th:text="'Trick Centre'"></a></li>
  </ul>
  <img th:src="@{/greenfox.png}"/>
  <p th:text="|This is Mr ${fox.name}. Currently living on  ${fox.food} and ${fox.drink} He knows ${fox.learnedList.size()} tricks|"/>
  <h2 th:text="'Known tricks'"></h2>
  <p th:if="${fox.learnedList.size()} == 0" th:text="'No known tricks yet...'"/>
  <ol>
    <li th:each="trick : ${fox.learnedList}" th:text="${trick.toString()}">Code in Java</li>
  </ol>
  </body>
</html>